#background {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  z-index: -100;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}

#container {
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
  font-family: "Sofia2";
  color: #fff;
  font-weight: lighter;
  clip-path: circle(50vh at 50vh 50vw);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

.center-everything {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-container {
  position: fixed;
  width: 146vw;
  height: 107vh;
  transform: rotate(290deg) translate(10%, -22%) translatez(1px);
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.bar {
  box-shadow: inset 0 10px 16px 2px rgba(0, 0, 0, 0.375);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.375) 100%
  );
  flex: 1 1 20%;
}

.color1 {
  background-color: #d23100;
}
.color2 {
  background-color: #ffa749;
}
.color3 {
  background-color: #ffffff;
}
.color4 {
  background-color: #f48fca;
}
.color5 {
  background-color: #ac0067;
}

.stats-container {
  font-size: 1.6rem;
}

td:first-child {
  text-align: right;
}

td,
th {
  border: 0;
  margin: 0;
  padding: 0 1px;
  font-weight: normal;
}

td {
  width: 48vw;
}

.stats-container .bold {
  font-weight: 900;
}

.time {
  font-size: 6rem;
  padding: 8px 0px 2px 0px;
  line-height: 0.6;
  letter-spacing: -0.04em;
}

.date {
  font-size: 1.75rem;
}

.image {
  width: 2.25em;
  border-radius: 2em;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); */
  background-color: #ec5174;
  border: 2px solid #ec5174;
}
